
/* Header Part Start */

*{
    margin: 0 auto;
    padding: 0 auto;
}

.btn-search{
    border:1px solid rgba(14, 1, 1, 0.288) !important;
    color: rgba(20, 20, 20, 0.979) !important;
}
.btn-search:hover{
    background-color: rgb(228, 15, 157) !important;
    color: white !important;
}
.menu:hover{
    color:rgb(228, 15, 157) !important ;

}

/* Header Part End */

/* Section Part Start 1 */

.banner{
    background-color:#FCEAEB;
}

.banner-details{
    height: 300px;

}
.prise{
    color:rgb(228, 15, 157) ;
    margin-top: 30px !important;

}
.btnbtn{
    background-color:rgb(228, 15, 157) !important;
    border: none;
    color: black !important;
    margin-top: 10px !important;
}

.btnbtn:hover{
   color: white !important;
}

.banner-tv{
    background-color:#FCEAEB;
    height: 300px;

}

.banner-image{
width: 100%;
height: 100%;
}

.box{
    border: 2px solid red;
}
/* Section Part End 1  */



/* Section Part Start 2 */

.box-img{
    height: 100px;
}

/* Section Part End 2 */


/* Section Part Start 3 */

.main-container{
    background-color:#FCEAEB;
}

.banner-2{

}

.banner-details-2{
background-color: white;
border-radius: 10px;
padding-bottom: 15px;


}

.banner-shoe{
    text-align: center;
}
.banner-shoe-details{
    text-align: center;
}

.prise-2{
    color:rgb(228, 15, 157) ;
    margin-top: 30px !important;
    text-align: center;

}
.btnbtn-2{
    background-color:rgb(228, 15, 157) !important;
    border: none;
    color: black !important;
    margin-top: 10px !important;
    text-align: center;
}

.btnbtn-2:hover{
   color: white !important;
}

/* Section Part End 3 */

/* Footer Part Start  */

.foot-con{
    background-color:#FCEAEB;
   
}

.input-last{
    width: 50%;
    text-align: center;
}

/* Footer Part End  */


